*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



#informacoes {

    height: 100vh;
    width: 100%;
    background-color: #ABC9FF;
}

img {
    margin-right: 20px;
    margin: 20px;
    height: 550px;
    width:  480px;
    float: left;
    margin-top: 60px;

}



.bemvindo {
    height: 100px;
    width: 1000px;
    font: normal 30px arial ;
    position: relative;
    top: 10px;
}

#textinfo {
    height: 40px;
    width: 1200px;
    font: normal 20px arial ;
    text-indent: 30px;
    text-align: justify;
    letter-spacing: 1px;
    line-height: 1.3;
}
 #textinfo p {
    margin-top: 35px;
 }

#conhecimento {
    height: 110vh;
    width: 100%;
    background-color: #6F38C5 ;
}

.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.2s;
    position: relative;
    left: 150px;
    top: 40px;
    }

#curriculo:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#linkedin:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
#github:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.material-icons {
    background: rgb(255, 255, 255);
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 15%;

    display: flex;
    justify-content: center;
    align-items: center;
}